<h1>Davai do svidania!</h1>
<p>
	Nice to meet you here, buddy!
</p>
<p>
	I need to say <%= link_to "Hello man", say_hello_path %> one more else. ;-)
</p>
<p>	Operators 1 + 2 = <%= 1+2 %> </p>
<p>	String cow + boy is <%= "cow" + "boy" %> </p>
<p> Time in GMTS  is <%= 1.hour.from_now %> </p>